BankOnlineShopConsumer/Connected Services/BankReference/BankServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bank_ApplicationWCFREST" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bank_ApplicationWCFREST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" type="xs:long" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="identityCard" type="xs:long" />
      <xs:element minOccurs="0" name="phoneNumber" type="xs:int" />
      <xs:element minOccurs="0" name="updateAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:long" />
      <xs:element minOccurs="0" name="balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="createAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="updateAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="PartnerAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:long" />
      <xs:element minOccurs="0" name="createAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="partnerAccount1" type="xs:long" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="updateAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartnerAccount" nillable="true" type="tns:PartnerAccount" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="billId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="feeTransaction" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiverAccountNumber" type="xs:long" />
      <xs:element minOccurs="0" name="senderAccountNumber" type="xs:long" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
      <xs:element minOccurs="0" name="updateAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="HistoryTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:long" />
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="createAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="feeTransaction" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="transactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryTransaction" nillable="true" type="tns:HistoryTransaction" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
</xs:schema>